*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;

}
.hero{
    width: 100%;
    height: 100vh;
    background: #f3f7fe;
    padding: 10px 3%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.hero h1{
    font-size: 75px;
    position: relative;
    z-index: 2;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke: 2px #000;
    cursor: pointer;
    transition: transform 0.5s;

}
.hero h1:hover{
    -webkit-text-fill-color:#000;
    transform: translateY(-10px);
}
.img-box{
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 50%;
    background-image: url(images/bakground.png);
    background-size: color;
    background-position: center;
    transition: background-image 1s;
}
.hero h1:nth-child(1):hover ~ .img-box{
    background-image: url(images/es-kelapa-muda-png-2.png);
}

.hero h1:nth-child(2):hover ~ .img-box{
    background-image: url(images/jeruk-pohon-1.png);
}

.hero h1:nth-child(3):hover ~ .img-box{
    background-image: url(images/R.jpg);
}





